.Container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Form {
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
    border: 2px solid rgb(72, 50, 105);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 5% 0 5% 5%;
    width: 80vw;
    /* height: 95vh; */
    max-width: 45rem;
    background-color: #96616b;
}
.Form .Group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-bottom: 5%;
}
.Form input {
    width: 120%;
    line-height: 2rem;
    padding-left: 5%;
    background-color: transparent;
    color: blanchedalmond;
    border: none;
    border-bottom: 3px solid #fff;
    box-shadow: none;
}
.Form input:focus {
    background-color: transparent;
    box-shadow: none;
}
.Form option {
    color: rgb(72, 50, 105);
}
.Form .Label {
    display: flex;
    align-self: flex-start;
    color: rgb(72, 50, 105);
    margin-left: -10%;
}
.Form h2 {
    color: rgb(72, 50, 105);
}

Button:disabled {
    color: #ccc;
}

.Form button {
    background: none;
    color: #eee;
    border: none;
    cursor: pointer;
    color: rgb(105, 36, 210);
    font-weight: 600;
}
Form .buttons {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    padding: 5% 0;
}
