.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
    border: 2px solid rgb(72, 50, 105);
    border-radius: 20px;
    box-sizing: border-box;
    /* box-shadow: 2px 2px 10px 0 #eee; */
    margin: 5% 5% 10% 0;
    padding: 5% 0 5% 5%;
    width: 80vw;
    background-color: rgb(194, 127, 50);
    z-index: 1;
}
.Form .Group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-bottom: 5%;
}
.Form input {
    width: 120%;
    line-height: 2rem;
    padding-left: 5%;
    background-color: transparent;
    color: blanchedalmond;
    border: none;
    border-bottom: 3px solid #fff;
    box-shadow: none;
}
.Form input:focus {
    background-color: transparent;
    box-shadow: none;
}
.Form option {
    color: rgb(72, 50, 105);
}
.Form .Label {
    display: flex;
    align-self: flex-start;
    color: rgb(72, 50, 105);
    margin-left: -10%;
}
.Form h2 {
    color: rgb(72, 50, 105);
}

Button:disabled {
    color: #ccc;
}

.Form button {
    background: none;
    color: #eee;
    border: none;
    cursor: pointer;
}
Form .buttons {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    padding: 5% 0;
}
