.Container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Card {
    width: 90vw;
    min-height: 70vh;
    background-color: #96616b;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin: 5% 0;
    padding-bottom: 5%;
    border-radius: 10px;
}
.resultCard {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1em;
    border: 2px solid #eee;
    border-radius: 20px;
    margin: 5% 5% 0 0;
    width: 70vw;
    height: 2rem;
    background-color: rgba(99, 76, 25, 0.209);
}
.resultCard td {
    display: flex;
    justify-content: center;
    width: 30%;
}
.Card button {
    display: flex;
    justify-self: flex-end;
    align-self: flex-start;
    background-color: #96616b;
    margin-left: 5%;
    border: none;
    text-decoration: none;
}

.Card tbody {
    height: 60vh;
}
.Card span {
    font-size: 3rem;
    font-weight: bold;
    color: #eee;
}

.Card a {
    color: #fff;
}
@media screen and (max-width: 770px) {
    .Card {
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 435px) {
    .Card {
        font-size: 0.6rem;
    }
}
@media screen and (max-width: 360px) {
    .Card {
        font-size: 0.55rem;
    }
}
