.App {
    background-color: rgb(161, 161, 241);
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

a:hover {
    text-decoration: none;
}
.mapboxgl-popup-content {
    background-color: #bdd4e7;
    background-image: linear-gradient(
        315deg,
        #bdd4e7 0%,
        #8693ab 74%
    ) !important;
}

.mapboxgl-popup-tip {
    border-top-color: #8693ab !important ;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
