.Button {
    background: none;
    color: rgb(48, 153, 228);
    border: none;
    cursor: pointer;
}
.Form {
    width: 100%;
    /* margin: 5% 0 0 5%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* flex-wrap: nowrap; */
}
.Form input {
    width: 100%;
    padding-right: 5%;
}
Form a {
    margin: 0 1% 0 1%;
}
.Form p {
    color: #fff;
    width: 50vw;
    margin-left: 3%;
}

.LoginButton {
    max-height: 2.4rem;
    font-size: 0.9rem;
    font-weight: bold;
    width: 15%;
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 620px) {
    .LoginButton {
        font-size: 0.7rem;
        transform: scale(0.9);
    }
    .Form input {
        transform: scale(0.9);
    }
}
