.Button {
    background: none !important;
    color: rgb(48, 153, 228);
    border: none;
    cursor: pointer;
}
.Form {
    width: 100%;
    margin: 5% 0 0 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
a {
    margin: 0 1% 0 1%;
}
