.Container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Card {
    width: 90vw;
    background-color: #bdd4e7;
    background-image: linear-gradient(
        315deg,
        #acc0d1 0%,
        #8693ab 0%
    ) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    color: #fff;
    margin-top: 10%;
}
.resultCard {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1em;
    border: 2px solid #eee;
    border-radius: 20px;
    margin: 5% 5% 0 0;
    width: 60vw;
    height: 2rem;
    background-color: rgba(99, 76, 25, 0.209);
}
.Card button {
    display: flex;
    justify-self: flex-end;
    align-self: flex-start;
    background-color: rgb(20, 122, 105);
    margin-left: 5%;
    border: none;
    text-decoration: none;
}

.Card tbody {
    height: 60vh;
}
.Card span {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
}
.Card a {
    color: #fff;
    text-decoration: underline;
}

.Button {
    display: flex;
    align-self: flex-end;
}
@media screen and (max-width: 770px) {
    .Card {
        font-size: 0.8rem;
    }
    .resultCard {
        width: 70vw;
    }
}
@media screen and (max-width: 435px) {
    .Card {
        font-size: 0.6rem;
    }
}
