.Container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(5, 58, 32);
    height: 60vh;
    margin-bottom: 10%;
    color: #c0c0c0;
}

.Container .Box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}
.Container .Box img {
    width: 100%;
}

.Container article {
    min-height: 60%;
}
