<h1>Home page</h1>

<h4>Hello {{#if user}} {{user.name}}  {{/if}} </h4>

{{#if user}}
<a href="/logout">Logout</a>
<a href="/users">All users</a>
<a href="/pets">All pets</a>
{{else}}
<a href="/signup">Sign Up</a>
<a href="/login">Log In</a>
{{/if}}
