.Container {
    width: 90vw;
    min-height: 80vh;
    background-color: rgb(194, 127, 50);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin: 5% 0 5% 0;
}
.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
    height: 50%;
    width: 50%;
}

.Form input:focus {
    background-color: transparent;
    box-shadow: none;
}
.Form input {
    background-color: transparent;
    color: blanchedalmond;
    border: none;
    border-bottom: 3px solid #fff;
    box-shadow: none;
    width: 100%;
}
.Form p {
    margin-top: 20%;
    color: rgb(72, 50, 105);
    width: 80vw;
}
.Form button {
    border-radius: 10px;
    border: none;
    width: 15rem;
    height: 3rem;
    font-size: 1.2rem;
    margin-top: 20%;
    background-color: rgb(72, 50, 105);
}
.Form button:focus {
    background-color: rgb(72, 50, 105);
}
.Container a {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    margin: 10% 0;
    /* margin-bottom: 10%; */
    color: #fff;
}
@media screen and (min-width: 435px) {
    .Form p {
        margin-top: 5%;
    }

    .Container a {
        margin-bottom: 10%;
    }
}
@media screen and (min-width: 900px) {
    .Container a {
        margin: 5% 0;
    }
}
