.CarouselContainer {
    margin: 5% 0;
    width: 70vw;
    min-height: 60vh;
}
.CarouselContainer img {
    width: 80%;
    min-height: 30rem;
}

@media only screen and (max-width: 900px) {
    .CarouselContainer {
        width: 90vw;
        min-height: 47vh;
    }
    .CarouselContainer img {
        height: 35rem;
    }
}
.Fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5s;
    animation-name: fade;
    animation-duration: 5s;
}
@-webkit-keyframes fade {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}
