.CarouselContainer {
    margin: 5% 0;
    width: 90vw;
    min-height: 60vh;
}
.CarouselContainer img {
    height: 35rem;
}

@media only screen and (max-width: 770px) {
    .CarouselContainer {
        min-height: 47vh;
    }
    .CarouselContainer img {
        height: 25rem;
    }
}
