<h2>Enter new pet</h2>
 <div class="result-card highlight">
   {{#with owner}}
    <form action="/users/{{_id}}/pet" method="POST" class="form" >

      <label for="name">Name</label>
      <input type="text" name="name" id="name" value= "" required>
      
      <label for="specie">Pet type</label>
      <select name="specie" id="specie">
         <option value="" selected>--Please choose an option--</option>
         <option value="dog">Dog</option>
         <option value="cat">Cat</option>
         <option value="bird">Bird</option>
         <option value="reptile">Reptile</option>
         <option value="other">Other</option>
      </select>

      <label for="breed">Breed</label>
      <input type="text" name="breed" id="breed" value= "" required>

      <label for="age">Age</label>
      <input type="text" name="age" id="age" value= "" required>


  
      
  
       <button type="submit" >Add</button>
    </form>
       <a href="/pets">Back</a>
</div>