.Form {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    font-size: 1em;
    border: 2px solid rgb(69, 191, 165);
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px 0 #eee;
    padding: 5% 5%;
    width: 60vw;
    max-width: 40rem;
    height: 60vh;
    background-color: rgba(27, 120, 76, 0.2);
}

.Form input {
    line-height: 2rem;
    /* padding-left: 5%; */
}
.Form span {
    font-size: 3rem;
    font-weight: bold;
    color: rgb(48, 153, 228);
}

.Form select {
    width: 7rem;
    height: 2rem;
    text-align: center;
}
.Form .Textarea {
    width: 80%;
    height: 10rem;
    margin: 0 0 5% 0;
}

/* .Form button {
    background: none;
    color: rgb(48, 153, 228);
    border: none;
    cursor: pointer;
} */
.Form .Button {
    font-size: 1.1rem;
    font-weight: 600;
    width: 70px;
    display: flex;
    align-self: flex-start;
    /* justify-self: flex-end; */
}

.Form .buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding-bottom: 5%;
}

@media only screen and (max-width: 900px) {
    /* .Form {
        transform: scale(0.8);
    } */
    .Form input {
        transform: scale(0.6);
    }
    .Form .Textarea {
        width: 60%;
        height: 80%;
        margin: 0 0 5% 5%;
    }
    .Form .Button {
        font-size: 0.9rem;
        width: 60px;
        display: flex;
        align-self: flex-start;
        /* justify-self: flex-end; */
    }
}
