body {
    padding: 50px;
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
    background-color: #c0c0c0;
    padding: 50px 0;
}

a {
    color: #00b7ff;
    text-decoration: none;
    margin-top: 2%;
    border: none;
    cursor: pointer;
    outline: none;
}

/* h1 {
    color: 15px;
} */
h2 {
    margin-left: 5%;
}

/*# sourceMappingURL=style.css.map */
.results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    /* flex-direction: column; */
}
button {
    width: 24%;
    background-color: aliceblue;
    border-radius: 5px;
    margin-top: 3%;
}
.menu {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}
.form {
    width: 80%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#delete-btn {
    width: 100%;
    margin-left: 15%;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}
#add-btn {
    margin-left: 5%;
}
.result-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1em;
    border: 2px solid #eee;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px 0 #eee;
    margin: 7% 2% 0 5%;
    padding: 20px;
    width: 66%;
    height: 3rem;
    background-color: rgba(147, 158, 158, 0.2);
}
.result-card.highlight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 35rem;
}
.result-card.login {
    width: 40%;
    height: 20rem;
    flex-direction: column;
}
.result-card p {
    margin-top: -1%;
}
.result-card img {
    width: 40%;
}

#infos {
    padding: 0 5% 0 5%;
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

ul > li {
    list-style-type: none;
}
