.resultCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1em;
    border: 2px solid rgb(21, 187, 151);
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px 0 #eee;
    margin: 7% 2% 0 5%;
    padding: 20px;
    width: 90%;
    height: 80vh;
    background-color: rgba(27, 120, 76, 0.2);
}
.Form {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Input {
    line-height: 2rem;
}
.Input:nth-child(5) {
    line-height: 4rem;
}
.Button {
    width: 100px;
}
