.Container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    font-size: 1em;
    border: 2px solid #eee;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 10% 0;
    width: 80vw;
    height: 70%;
    background-color: #96616b;
    border-radius: 10px;
    padding: 10% 5%;
    color: #eee;
}
.Container b,
h3 {
    color: rgb(72, 50, 105);
}

.Infos {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding-bottom: 5%;
}
.Card button {
    background: none;
    color: #eee;
    border: none;
    cursor: pointer;
    padding-top: 10%;
    color: rgb(105, 36, 210);
    font-weight: 600;
}

.Card .AddButton {
    display: flex;
    align-self: flex-end;
    margin-right: 5%;
}
.Card span {
    color: #eee;

    cursor: pointer;
}
.Card span:nth-child(1) {
    font-size: 3em;
    font-weight: bold;
    width: 100%;
}
.Card ul {
    display: flex;
    flex-direction: column;
}
.Card li {
    width: 100%;
    margin-bottom: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #eee;

    font-size: 0.9rem;
}
.Card li h6 {
    color: rgb(72, 50, 105);
}
@media screen and (max-width: 770px) {
    .Card {
        font-size: 0.9rem;
    }
}
