.Footer {
    background-color: rgb(5, 58, 32);
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
}

ul {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

ul li {
    list-style-type: none;
    text-align: center;
}

h5 {
    padding-left: 10%;
    color: #c0c0c0;
}
