.Footer {
    background-color: rgb(72, 50, 105);
    width: 100%;
    display: flex;
    align-items: center;
    height: 8rem;
    justify-content: space-around;
    font-size: 1.2rem;
    padding: 0 10%;
}

.Footer ul {
    width: 5rem;
    display: flex;
    justify-content: space-evenly;
}

.Footer ul li {
    list-style-type: none;
    text-align: center;
}

.Footer h5 {
    color: #fff;
    font-weight: bold;
    width: 15rem;
}
.Footer .Infos {
    color: #fff;
    font-weight: bold;
}
.Socials {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: 860px) {
    .Footer {
        align-items: center;
        height: 15rem;
        justify-self: flex-end;
        font-size: 1.2rem;
        padding: 0;
    }
    .Socials {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
    }
    .Footer h5 {
        padding-left: 10%;
        margin-right: 30%;
        width: auto;
    }

    .Footer ul {
        width: 100%;
        margin-bottom: 10%;
        margin-right: 30%;
        display: flex;
        justify-content: space-evenly;
    }
}
