.Container {
    margin: 5% 0 5% 0;
    background-color: #96616b;
    width: 100vw;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
}
.Container .Infos {
    padding: 0 10% 0% 3%;
    font-size: 1.2rem;
    font-weight: bold;
}
.Map {
    width: 100%;
    height: 45vh;
    padding-inline: 5%;
    margin: 5% 0 5% 0;
}

.Popup .mapboxgl-popup-content {
    font-family: 'Pacifico', cursive;
    color: #eee;
    background-color: '#96616B';
}
