.Container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1em;
    /* border: 2px solid rgb(69, 191, 165); */
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px 0 #eee;
    margin: 5% 0 5% 0;
    padding: 20px;
    width: 70%;
    max-width: 50rem;
    min-height: 80vh;
    background-color: #96616b;
}
.Form ::placeholder {
    color: #eee;
}

.Form input:focus {
    background-color: transparent;
    box-shadow: none;
}
.Form input {
    background-color: transparent;
    color: blanchedalmond;
    border: none;
    border-bottom: 3px solid #fff;
    box-shadow: none;
    width: 45vw;
    max-width: 30rem;
}
.Form a {
    margin-top: 5%;
    color: rgb(92, 41, 168);
    font-weight: bold;
}

.Button {
    width: 100px;
    border-radius: 10px;
    background-color: rgb(72, 50, 105);
    color: #fff;
    font-weight: bold;
    margin-top: 10%;
}
Button:disabled {
    color: #ccc;
}
