.Container {
    display: flex;
    justify-content: space-around;
    margin: 4% 0 0 15%;
    width: 100%;
}

.ChecksContainer {
    display: flex;
    justify-content: flex-start;
    width: 60%;
    margin: 5% 0;
    margin-left: 5%;
}
