.Container {
    width: 90vw;
    min-height: 80vh;
    background-color: rgb(194, 127, 50);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin: 5% 0 5% 0;
}
.resultCard {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1em;
    border: 2px solid #eee;
    border-radius: 20px;
    /* box-sizing: border-box; */
    /* box-shadow: 2px 2px 10px 0 #eee; */
    margin: 5% 5% 0 0;
    width: 70vw;
    height: 2rem;
    background-color: rgba(99, 76, 25, 0.209);
}
.resultCard td {
    display: flex;
    justify-content: center;
    width: 30%;
}
.Container button {
    display: flex;
    justify-self: flex-end;
    align-self: flex-start;
    background-color: rgb(194, 127, 50);
    margin-left: 5%;
    border: none;
    text-decoration: none;
}

.Container tbody {
    height: 60vh;
}
.Container span {
    font-size: 3rem;
    font-weight: bold;
    color: rgb(72, 50, 105);
}
.Container a {
    color: #fff;
}

.Button {
    display: flex;
    align-self: flex-end;
    /* position: absolute; */
}
@media screen and (max-width: 770px) {
    .Container {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 435px) {
    .Container {
        font-size: 0.6rem;
    }
}
