<h2>Enter new user</h2>
 <div class="result-card highlight">
    <form action="/users/add" method="POST" class="form" >

      <label for="name">Name</label>
      <input type="text" name="name" id="name" value= "" required>
      
      <label for="lastName">Last name</label>
      <input type="text" name="lastName" id="lastName" value= "" required>

      <label for="street">Street</label>
      <input type="text" name="street" id="street" value="" required>

      <label for="zip">Zip Code</label>
      <input type="text" name= "zip" value="" required>

      <label for="city">City</label>
      <input type="text" name= "city" value="" required>

      <label for="state">State</label>
      <input type="text" name= "state" value="" required>


      <label for="email">Email</label>
      <input type="email" name= "email" value="" required unique>

      <label for="phoneNumber">Phone number</label>
      <input type="text" name= "phoneNumber" value="" required unique>

      {{#if isEmployee}}
         <label for="role">User type</label>
         <select name="role" id="role">
            <option value="client">Client</option>
            <option value="employee">Employee</option>
         </select>
      {{/if}}
    
      
       <button type="submit" >Add</button>
    </form>
</div>