
{{#each users}}

     <div class="result-card">

          <span><a href="/users/{{_id}}"> {{lastName}}, {{name}}</a></span>
          <span>{{role}}</span>
            
     </div>
 
{{/each}}
     <div class="buttons">
          <h4><a href="/users/add" id="add-btn">Add user</a></h4>
          <h4><a href="/users">All users</a></h4>
          <h4><a href="/">Home</a></h4>
     
     </div>
    
