.Input {
    width: 100%;
    /* padding: 10px; */
    box-sizing: border-box;
    margin-bottom: 10%;
}

.Label {
    font-weight: bold;
    display: block;
    /* margin-bottom: 8px; */
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: #fff;
    font: inherit;
    /* padding: 6px 10px; */
    display: block;
    width: 100%;
    height: 2rem;
    box-sizing: border-box;
    /* padding-bottom: 0%; */
}
.InputElement :focus {
    outline: none;
    background-color: #ccc;
}
.Invalid {
    border: 1px solid red;
    background-color: rgb(250, 131, 117);
}

.Textarea {
    min-height: 10rem;
    min-width: 150%;
}
