<h2>Sign Up</h2>
 <div class="result-card signup">

        <form action="/signup" method="POST" class="form">


                <label for="name">Name</label>
                <input type="text" name="name" value=''required>

                <label for="lastName">Last name</label>
                <input type="text" name="lastName" value='' required>

                <label for="email">Email</label>
                <input type="text" name="email" value='' required unique>
                
                <label for="">Password</label>  
                <input type="password" name="password" required>
                
                <label for="confirm">Confirm Password</label>  
                <input type="password" name="confirm" value='' required>

                <label for="street">Street</label>
                <input type="text" name="street" value='' required>

                <label for="zip">ZIP code</label>
                <input type="text" name="zip" value='' required>

                <label for="city">City</label>
                <input type="text" name="city" value='' required>

                <label for="state">State</label>
                <input type="text" name="state" value='' required>

                <label for="phoneNumber">Phone Number</label>
                <input type="text" name="phoneNumber" value='' required>



                <button type="submit">Sign Up</button>

                  {{#if message}}
                    <p style='color: red'>{{message}}</p>
                  {{/if}}

                <p class="account-message">
                Do you already have an account?
                <a href="/login">Login</a>
              </p>
        </form>
</div>