.Checkbox {
    display: flex;
    align-items: flex-start;
    margin-left: 15%;
    width: 100%;
}
.Checkbox .Label {
    margin-left: 15%;
}

@media only screen and (max-width: 834px) {
    .Checkbox {
        transform: scale(0.7);
        margin-left: 10%;
    }
    .Label {
        margin-left: 5%;
    }
}
