.Checkbox {
    display: flex;
    align-items: flex-start;
    margin-left: 15%;
    width: 100%;
}
.Checkbox .Label {
    margin-left: 15%;
}

@media only screen and (max-width: 900px) {
    .Checkbox {
        margin-left: 10%;
    }
    .Label {
        margin-left: 5%;
    }
}
@media only screen and (max-width: 600px) {
    .Checkbox {
        margin-left: 7%;
    }
}
