.MessageForm {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
    width: 100%;
    background-color: rgb(161, 161, 241);
}

.Form {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    /* margin: 0 5%; */
    border: 2px solid rgb(72, 50, 105);
    border-radius: 20px;
    padding: 5% 10%;
    width: 90%;
    color: #fff;
    /* background-color: rgb(194, 127, 50); */
    background-color: #96616b;
}

.Form input {
    margin-bottom: 5%;
    background-color: transparent;
    color: blanchedalmond;
    border: none;
    border-bottom: 3px solid #fff;
}

.Form #DatePicker {
    transform: scale(1.2);
    width: 80%;
    margin-bottom: 5%;
    display: flex;
    justify-self: flex-end;
}

.Form #FileLoader {
    position: relative;
    width: 0;
    height: 0%;
    top: 0;
    left: 0;
    margin: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}

.Form .Textarea {
    align-self: center;
    width: 100%;
    height: 10rem;
    max-height: 26rem;
    border-radius: 5px;
    border: 1px solid #e6e9f2;
    background-color: #f6f8ff;
}
.Form .Group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10%;
}

.Form label {
    font-weight: 600;
    display: flex;
    align-self: flex-start;
    color: rgb(72, 50, 105);
}

.Form label:nth-child(2) {
    font-size: 1.2rem;
    margin-left: 5%;
}
.Form p {
    color: rgb(72, 50, 105);
    font-size: 1.2rem;
    margin-top: 5%;
}

.Form .Button {
    font-size: 1.3rem;
    font-weight: 600;
    width: 150px;
    margin-top: 2rem;
    align-self: flex-start;
    background-color: rgb(72, 50, 105);
    border: none;
    margin-left: 10%;
}

.Form .buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding-bottom: 5%;
}
.Form .LeftContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    width: 50%;
}
.Form .RightContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.Loader {
    margin-top: 3%;
    display: flex;
    align-self: flex-start;
    margin-left: 10%;
    /* cursor: pointer; */
}

@media screen and (max-width: 990px) {
    .Form {
        /* width: 90vw; */
        flex-direction: column;
        align-items: center;
        padding: 5% 15%;
    }
    .Form .Group {
        width: 85%;
        margin-right: 10%;
    }

    .Form .LeftContainer {
        width: 100%;
    }
    .Form .RightContainer {
        width: 100%;
    }
    .Form .Label {
        margin-left: -5%;
    }

    .Form .Textarea {
        transform: scale(1.2);
        width: 100%;
        margin: 5% 0;
    }

    .Form .Button {
        align-self: center;
        margin-left: 0;
    }
    .Loader {
        margin-left: -5%;
    }
}
